# WEB SCRAPPING

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mahes\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mahes\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\mahes\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\mahes\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mahes\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: attrs>=20.1.0 in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\mahes\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\mahes\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mahes\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\mahes\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mahes\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\mahes\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: python-dotenv in c:\users\mahes\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in c:\users\mahes\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: requests in c:\users\mahes\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\mahes\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mahes\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\mahes\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mahes\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mahes\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)

In [10]:
import selenium                                  
from selenium import webdriver                   
import pandas as pd                              
from selenium.webdriver.common.by import By       
import warnings                                  
warnings.filterwarnings("ignore")
import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

In [12]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [186]:
driver.get("https:nike.com/")

In [187]:
urls = []
    
url = driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')

    
for i in url:
    
        
    urls.append(i.get_attribute('href'))

In [188]:
urls

['https://www.nike.com/in/t/air-force-1-07-lv8-shoes-lPdFPQ/FJ4170-002',
 'https://www.nike.com/in/t/air-force-1-shadow-shoes-hzR7HR/DO7449-111',
 'https://www.nike.com/in/t/nikecourt-legacy-suede-shoes-QcMfd3/DH0956-002',
 'https://www.nike.com/in/t/air-force-1-07-shoes-587rld/FZ4627-400',
 'https://www.nike.com/in/t/nikecourt-legacy-next-nature-shoes-rdTfqH/DH3161-108',
 'https://www.nike.com/in/t/killshot-2-shoes-CqGk4H/FZ5630-001',
 'https://www.nike.com/in/t/tech-hera-shoes-JlV5km/DR9761-401',
 'https://www.nike.com/in/t/waffle-debut-shoes-4j1X82/FJ4195-001',
 'https://www.nike.com/in/t/p-6000-shoe-QcQbpx/CD6404-101',
 'https://www.nike.com/in/t/phoenix-waffle-shoes-Px0WgL/FD2196-101',
 'https://www.nike.com/in/t/court-vision-low-next-nature-shoes-p3CnbT/DH3158-109',
 'https://www.nike.com/in/t/jordan-stadium-90-shoes-vnsjwJ/HF5258-102',
 'https://www.nike.com/in/t/sb-force-58-skate-shoe-DvWCT6/DH7505-101',
 'https://www.nike.com/in/t/killshot-2-leather-shoe-DqWZ4j/432997-070',
 'https://www.nike.com/in/t/air-huarache-runner-shoes-6gNJ0g/DZ3306-400',
 'https://www.nike.com/in/t/court-vision-alta-shoes-p7Dnlp/DM0113-005',
 'https://www.nike.com/in/t/air-force-1-wild-shoes-FCjQ2C/FB2348-003',
 'https://www.nike.com/in/t/initiator-running-shoe-NRLxhm/394055-101',
 'https://www.nike.com/in/t/air-max-97-futura-shoes-r0gfkM/FB4496-201',
 'https://www.nike.com/in/t/sb-force-58-skate-shoes-LJNW5L/DV5477-800',
 'https://www.nike.com/in/t/air-force-1-07-wb-shoe-j46FxX/CJ9179-200',
 'https://www.nike.com/in/t/tatum-1-home-team-pf-basketball-shoes-JbXhDt/DZ3330-002',
 'https://www.nike.com/in/t/paris-saint-germain-jumpman-mvp-shoes-LxppNW/FJ0742-081',
 'https://www.nike.com/in/t/invincible-3-road-running-shoes-QWRmLj/FN1187-001']

In [8]:
price=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/div[1]/div/div[2]/div/div/div[1]/div/div')
        price.append(title_tags.text)
    except NoSuchElementException:
        price.append('-')
        

        
category=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/div[1]/div/div[2]/div/h2')
        category.append(title_tags.text)
    except NoSuchElementException:
        category.append('-')
        
color=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/span/div/div/ul/li[1]')
        color.append(title_tags.text)
    except NoSuchElementException:
        color.append('-')

In [11]:
name=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="pdp_product_title"]')
        name.append(title_tags.text)
    except NoSuchElementException:
        name.append('-')

In [12]:
name

["Nike Air Force 1 '07 LV8",
 'Nike Air Force 1 Shadow',
 'NikeCourt Legacy Suede',
 "Nike Air Force 1 '07",
 'NikeCourt Legacy Next Nature',
 'Nike Killshot 2',
 'Nike Tech Hera',
 'Nike Waffle Debut',
 'Nike P-6000',
 'Nike Phoenix Waffle',
 'Nike Court Vision Low Next Nature',
 'Jordan Stadium 90',
 'Nike SB Force 58 Premium',
 'Nike Killshot 2 Leather',
 'Nike Air Huarache Runner',
 'Nike Court Vision Alta',
 'Nike Air Force 1 Wild',
 'Nike Initiator',
 'Nike Air Max 97 Futura',
 'Nike SB Force 58',
 "Nike Air Force 1 '07 WB",
 "Tatum 1 'Home Team' PF",
 'Paris Saint-Germain Jumpman MVP',
 'Nike Invincible 3']

In [13]:
import pandas as pd
nike1=pd.DataFrame({'name':name,'price':price,'color':color,'category':category})

In [14]:
nike1

,name,price,color,category
0,Nike Air Force 1 '07 LV8,MRP : ₹ 10 795.00,Colour Shown: Dark Stucco/Neutral Olive/Phanto...,Men's Shoes
1,Nike Air Force 1 Shadow,MRP : ₹ 9 295.00,Colour Shown: Sail/Sail/Grey Fog/Pale Ivory,Women's Shoes
2,NikeCourt Legacy Suede,MRP : ₹ 5 995.00,Colour Shown: Cobblestone/Black/Gum Light Brow...,Men's Shoes
3,Nike Air Force 1 '07,MRP : ₹ 11 895.00,Colour Shown: Light Armoury Blue/White,Men's Shoes
4,NikeCourt Legacy Next Nature,MRP : ₹ 5 695.00,Colour Shown: White/Wheat/Ashen Slate,Women's Shoes
5,Nike Killshot 2,MRP : ₹ 8 595.00,Colour Shown: Black/Gum Yellow/Sail,Women's Shoes
6,Nike Tech Hera,MRP : ₹ 9 695.00,Colour Shown: Ashen Slate/Platinum Violet/Anth...,Women's shoes
7,Nike Waffle Debut,MRP : ₹ 7 095.00,Colour Shown: Black/Off-Noir/White,Men's Shoes
8,Nike P-6000,MRP : ₹ 7 995.00,Colour Shown: Sail/Wolf Grey/Metallic Silver/W...,Shoe
9,Nike Phoenix Waffle,MRP : ₹ 8 695.00,Colour Shown: Light Orewood Brown/Team Gold/Li...,Women's Shoes
10,Nike Court Vision Low Next Nature,MRP : ₹ 4 995.00,Colour Shown: White/Platinum Violet,Women's Shoes
11,Jordan Stadium 90,MRP : ₹ 12 795.00,Colour Shown: White/Cool Grey/Black,Men's Shoes
12,Nike SB Force 58 Premium,MRP : ₹ 7 095.00,Colour Shown: White/White/White/Black,Skate Shoe
13,Nike Killshot 2 Leather,MRP : ₹ 7 995.00,Colour Shown: Black/Gum Yellow/Sail,Men's Shoe
14,Nike Air Huarache Runner,MRP : ₹ 12 795.00,Colour Shown: Dark Obsidian/Obsidian/Gum Dark ...,Men's Shoes
15,Nike Court Vision Alta,MRP : ₹ 5 995.00,Colour Shown: Platinum Violet/White,Women's Shoes
16,Nike Air Force 1 Wild,MRP : ₹ 12 795.00,Colour Shown: Platinum Violet/Smokey Mauve/Ear...,Women's Shoes
17,Nike Initiator,MRP : ₹ 7 495.00,Colour Shown: White/Metallic Cool Grey/Obsidian,Men's Running Shoe
18,Nike Air Max 97 Futura,MRP : ₹ 17 495.00,Colour Shown: Brown/Sail/Phantom/Earth,Women's Shoes
19,Nike SB Force 58,MRP : ₹ 6 295.00,Colour Shown: Monarch/Midnight Navy/Gum Light ...,Skate Shoes
20,Nike Air Force 1 '07 WB,MRP : ₹ 10 995.00,Colour Shown: Flax/Gum Light Brown/Black/Wheat,Men's Shoe
21,Tatum 1 'Home Team' PF,MRP : ₹ 10 795.00,Colour Shown: Medium Grey/Gunsmoke/White,Basketball Shoes
22,Paris Saint-Germain Jumpman MVP,MRP : ₹ 15 295.00,Colour Shown: Black/Light Bone/Magma Orange,Men's Shoes
23,Nike Invincible 3,MRP : ₹ 16 995.00,Colour Shown: Black/Coconut Milk/Bright Crimso...,Men's Road Running Shoes (Extra Wide)

In [15]:
size=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="buyTools"]/div[1]')
        size.append(title_tags.text)
    except NoSuchElementException:
        size.append('-')
        
sc=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/span/div/div/ul/li[2]')
        sc.append(title_tags.text)
    except NoSuchElementException:
        sc.append('-')

In [16]:
nike2=pd.DataFrame({"size":size,"sc":sc})

In [17]:
nike2

                                                 size                 sc
0   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: FJ4170-002
1   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: DO7449-111
2   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: DH0956-002
3   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: FZ4627-400
4   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: DH3161-108
5   Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...  Style: FZ5630-001
6   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: DR9761-401
7   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: FJ4195-001
8   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: CD6404-101
9   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: FD2196-101
10  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: DH3158-109
11  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: HF5258-102
12  Select Size\nSize Guide\nUK 3.5\nUK 4\nUK 4.5\...  Style: DH7505-101
13  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: 432997-070
14  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: DZ3306-400
15  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: DM0113-005
16  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...  Style: FB2348-003
17  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: 394055-101
18  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...  Style: FB4496-201
19  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: DV5477-800
20  Select Size\nSize Guide\nUK 5\nUK 5.5\nUK 6 (E...  Style: CJ9179-200
21  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: DZ3330-002
22  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: FJ0742-081
23  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...  Style: FN1187-001

In [35]:
durability=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/span/div/div')
        durability.append(title_tags.text)
    except NoSuchElementException:
        durability.append('-')

In [36]:
durability

["Comfortable, durable and timeless—it's number 1 for a reason. The AF-1's classic '80s construction pairs with neutral colours and layered textures for a utilitarian look.\nColour Shown: Dark Stucco/Neutral Olive/Phantom/Medium Olive\nStyle: FJ4170-002",
 'The Nike Air Force 1 Shadow puts a playful twist on a classic b-ball design. Using a layered approach, doubling the branding and exaggerating the midsole, it highlights AF-1 DNA with a bold, new look.\nColour Shown: Sail/Sail/Grey Fog/Pale Ivory\nStyle: DO7449-111',
 'Honouring its history rooted in tennis culture, the NikeCourt Legacy Suede brings you a classic, easy-to-wear design. Crafted from luscious suede and featuring heritage details like the Swoosh licence plate on the back, the style bridges sport and fashion.\nColour Shown: Cobblestone/Black/Gum Light Brown/White\nStyle: DH0956-002',
 "Ground your look in legendary style with this hoops original. Crossing hardwood comfort with off-court flair, the Air Force 1 '07 puts a fresh spin on everything you love most about the AF-1. Its durable leather on the upper looks sleek and crisp while Nike Air units underfoot add comfortable cushioning.\nColour Shown: Light Armoury Blue/White\nStyle: FZ4627-400",
 "Honouring a history rooted in tennis culture, the NikeCourt Legacy Next Nature brings you a time-tested staple in a design that's made from at least 20% recycled materials by weight. Its synthetic leather and retro design let you blend sport and fashion. Do good by looking good.\nColour Shown: White/Wheat/Ashen Slate\nStyle: DH3161-108",
 "Inspired by our original tennis shoe, the Killshot 2 gets a fresh look with collegiate colours and mixed materials like soft suede and smooth leather. To prove you're on top, the gum rubber sole adds the cherry on the bottom.\nColour Shown: Black/Gum Yellow/Sail\nStyle: FZ5630-001",
 "Inspired by early-2000s running, the Tech Hera is here to fulfil all of your chunky sneaker wishes. The wavy lifted midsole and suede accents level up your look while keeping you comfortable. Its durable design holds up beautifully to everyday wear—which is perfect, because you'll definitely want to wear these every day.\nColour Shown: Ashen Slate/Platinum Violet/Anthracite/Football Grey\nStyle: DR9761-401",
 'Retro gets modernised with these sleek sneakers inspired by the Nike Daybreak. Era-echoing suede and nylon are paired in complementary colours, and the updated wedge midsole gives you an extra lift. Style, comfort, that iconic Waffle outsole—this is a perfect new addition to your daily rotation.\nColour Shown: Black/Off-Noir/White\nStyle: FJ4195-001',
 "The Nike P-6000 draws on the 2006 Nike Air Pegasus, bringing you a mash-up of iconic style that's breathable, comfortable and evocative of that early-2000s vibe.\nColour Shown: Sail/Wolf Grey/Metallic Silver/White\nStyle: CD6404-101",
 'All-day comfort meets all-day style. Taking cues from original Blue Ribbon Sports designs and incorporating the technological advances of today, the Phoenix Waffle rises from the ashes. A redesigned Waffle tread lightens the shoe, while the increased midsole height creates an even softer ride. Check the vintage Swoosh logo and archive-inspired tongue for a modern take on classic BRS looks.\nColour Shown: Light Orewood Brown/Team Gold/Light Iron Ore/Midnight Navy\nStyle: FD2196-101',
 "In love with the classic look of '80s basketball but have a thing for the fast-paced culture of today's game? Meet the Nike Court Vision Low Next Nature. Made from at least 20% recycled materials by weight, its crisp upper and stitched overlays are inspired by the days of hook-shots and tube socks. The padded collar and rubber outsole bring comfort and traction for your world.\nColour Shown: White/Platinum Violet\nStyle: DH3158-109",
 "Comfort is king, but that doesn't mean you have to sacrifice style. Taking design inspiration from the AJ1 and AJ5, the Stadium 90 is ready for everyday wear. The upper is made from synthetic leather and textiles, sporting a combination of the AJ1 toe box and flame details from the AJ5. Nike Air cushioning makes every step as effortless as your style.\nColour Shown: White/Cool Grey/Black\nStyle: HF5258-102",
 'The latest and greatest innovation to hit the streets, the Nike SB Force 58 Premium gives you the durability of a cupsole with the flexibility of a vulcanised shoe.Made from soft, supple leather and finished with perforations, the whole look is infused with heritage basketball DNA.\nColour Shown: White/White/White/Black\nStyle: DH7505-101',
 "Inspired by the original low-profile tennis shoe, the Nike Killshot 2 updates the upper with a variety of textured leathers to create a fresh look. From soft suedes to smooth leathers with the perfect sheen, it's court-side attitude with a modern touch. To prove you're on top, the rubber gum sole adds the cherry on bottom.\nColour Shown: Black/Gum Yellow/Sail\nStyle: 432997-070",
 "When it fits this well and looks this good, it doesn't need a Swoosh logo. The Air Huarache takes on a classic silhouette with a runner-inspired design, mixed materials and rich neutrals for a look that is both nostalgic and brand new. With its stretchy, foot-hugging fabric and futuristic heel cage, it's still everything you love about the Huarache.\nColour Shown: Dark Obsidian/Obsidian/Gum Dark Brown/White\nStyle: DZ3306-400",
 'Raise the bar with the Nike Court Vision Alta. The modern design combines leather on top with the perfect lift underneath. The elevated hoops look then crowns your feet with its ultra-plush tongue.\nColour Shown: Platinum Violet/White\nStyle: DM0113-005',
 "The outdoors is for everyone—and this shoe is too. The classic AF-1 gets an adventurous refresh with utility lacing, durable materials and sturdy stitching. The textile-wrapped midsole is light and more flexible, while an added heel pillow creates extra comfort. Embroidered accents contrast with boot-like details for a look that's versatile and functional.\nColour Shown: Platinum Violet/Smokey Mauve/Earth/Platinum Violet\nStyle: FB2348-003",
 'Put in miles with the comfortable support of the Nike Initiator. It has a breathable upper with a soft, cushioned design that helps you hit your stride with confidence.\nColour Shown: White/Metallic Cool Grey/Obsidian\nStyle: 394055-101',
 "We saw into your future, and it's looking … cosy. This version of the AM97 mixes layers of leather, textile and fluffy suede—putting a crafty spin on the classic water-inspired design. Flowing with a Nike Air Max unit, this kind of comfort you have to feel to believe. Our prediction? You've never looked better (or comfier).\nColour Shown: Brown/Sail/Phantom/Earth\nStyle: FB4496-201",
 'The latest and greatest innovation to hit the streets, the Force 58 gives you the durability of a cupsole with the flexibility of vulcanised shoes. Made from canvas and suede and finished with perforations on the toe, the whole look is infused with heritage basketball DNA.\nColour Shown: Monarch/Midnight Navy/Gum Light Brown/Persian Violet\nStyle: DV5477-800',
 "The legend lives on in the Nike Air Force 1 '07 WB, a low-cut take on the iconic AF-1 that offers classic court style and premium cushioning.\nColour Shown: Flax/Gum Light Brown/Black/Wheat\nStyle: CJ9179-200",
 "Your love for the game never fades. That's why the Tatum 1 was created with longevity in mind. Designed to carry you from the first to the fourth (and whatever OT comes up) as efficiently as possible, we stripped it down to the essentials—and made those essentials really, really good. The result is this season's lightest performance basketball shoe, with rubber only where it counts, a stress-tested foam midsole and an uncaged Nike Zoom Air unit for those explosive ups. Whatever stage of ball you're at, the Tatum 1 will keep you playing.\nColour Shown: Medium Grey/Gunsmoke/White\nStyle: DZ3330-002",
 "Welcome to Paris. For our latest PSG Collab, we combined iconic elements from the AJ6, 7 and 8 in a new design that celebrates MJ's first trio of championships. With elevated materials, bold stitching and printed-text details, these special-edition sneakers let everyone know who you're about.\nColour Shown: Black/Light Bone/Magma Orange\nStyle: FJ0742-081",
 "With maximum cushioning to support every mile, the Invincible 3 has our highest level of comfort underfoot. Its plush and bouncy ZoomX foam helps you stay stable and fresh. In other words—it's going to feel good all day, whatever you're doing. It has everything you need so you can propel down your preferred path and come back for your next run feeling ready and reinvigorated.\nColour Shown: Black/Coconut Milk/Bright Crimson/White\nStyle: FN1187-001"]

In [21]:
review=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/div[4]/div/details[2]/summary/h3')
        review.append(title_tags.text)
    except NoSuchElementException:
        review.append('-')

In [22]:
review

['-',
 '-',
 '-',
 'Reviews (0)',
 '-',
 'Reviews (0)',
 'Reviews (70)',
 '-',
 'Reviews (20)',
 'Reviews (32)',
 '-',
 '-',
 'Reviews (33)',
 'Reviews (72)',
 'Reviews (28)',
 'Delivery & Returns',
 'Reviews (24)',
 'Reviews (6)',
 'Reviews (21)',
 'Delivery & Returns',
 'Reviews (17)',
 'Reviews (0)',
 '-',
 'Reviews (3)']

In [189]:
rating=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="RightRail"]/div/div[4]/div/details[2]/div/div/div')
        rating.append(title_tags.text)
    except NoSuchElementException:
        rating.append('-')

In [190]:
rating

['-',
 '-',
 '-',
 '',
 '-',
 '',
 '',
 '-',
 '',
 '',
 '-',
 '-',
 '',
 '',
 '',
 '-',
 '',
 '',
 '',
 '-',
 '',
 '',
 '-',
 '']

In [43]:
nike3=pd.DataFrame({"durability":durability,"review":review,"rating":rating})

In [44]:
nike3

,durability,review,rating
0,"Comfortable, durable and timeless—it's number ...",-,-
1,The Nike Air Force 1 Shadow puts a playful twi...,-,-
2,Honouring its history rooted in tennis culture...,-,-
3,Ground your look in legendary style with this ...,Reviews (0),
4,"Honouring a history rooted in tennis culture, ...",-,-
5,"Inspired by our original tennis shoe, the Kill...",Reviews (0),
6,"Inspired by early-2000s running, the Tech Hera...",Reviews (70),
7,Retro gets modernised with these sleek sneaker...,-,-
8,The Nike P-6000 draws on the 2006 Nike Air Peg...,Reviews (20),
9,All-day comfort meets all-day style. Taking cu...,Reviews (32),
10,In love with the classic look of '80s basketba...,-,-
11,"Comfort is king, but that doesn't mean you hav...",-,-
12,The latest and greatest innovation to hit the ...,Reviews (33),
13,Inspired by the original low-profile tennis sh...,Reviews (72),
14,"When it fits this well and looks this good, it...",Reviews (28),
15,Raise the bar with the Nike Court Vision Alta....,Delivery & Returns,-
16,The outdoors is for everyone—and this shoe is ...,Reviews (24),
17,Put in miles with the comfortable support of t...,Reviews (6),
18,"We saw into your future, and it's looking … co...",Reviews (21),
19,The latest and greatest innovation to hit the ...,Delivery & Returns,-
20,The legend lives on in the Nike Air Force 1 '0...,Reviews (17),
21,Your love for the game never fades. That's why...,Reviews (0),
22,"Welcome to Paris. For our latest PSG Collab, w...",-,-
23,"With maximum cushioning to support every mile,...",Reviews (3),

In [181]:
driver.get("https://www.adidas.com")

In [ ]:
while True:
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(5)
    newheight= driver.execute_script("return document.body.scrollHeight")
    if (height == newheight):
        break
    height = newheight

In [182]:

urls = []



    
url = driver.find_elements(By.XPATH,'//a[@class="glass-product-card__assets-link"]')

    
for i in url:
    
        
    urls.append(i.get_attribute('href'))

In [183]:
urls

['https://www.adidas.co.in/superstar-shoes/EG4959.html',
 'https://www.adidas.co.in/samba-og-shoes/B75807.html',
 'https://www.adidas.co.in/samba-og-shoes/B75806.html',
 'https://www.adidas.co.in/superstar-shoes/EG4958.html',
 'https://www.adidas.co.in/gazelle-shoes/BB5478.html',
 'https://www.adidas.co.in/galaxy-6-shoes/GW3848.html',
 'https://www.adidas.co.in/ultraboost-light/HQ1402.html',
 'https://www.adidas.co.in/ultimashow-shoes/FX3632.html',
 'https://www.adidas.co.in/alphaboost-v1-shoes/HP2760.html',
 'https://www.adidas.co.in/fluidflow-2.0-running-shoe/EX2102.html',
 'https://www.adidas.co.in/ultraboost-1.0-shoes/HQ6441.html',
 'https://www.adidas.co.in/grand-court-cloudfoam-comfort-shoes/GW9195.html',
 'https://www.adidas.co.in/pureboost-22-shoes/HP9014.html',
 'https://www.adidas.co.in/daily-3.0-shoes/GX1752.html',
 'https://www.adidas.co.in/ultraboost-1.0-shoes/GY7479.html',
 'https://www.adidas.co.in/lite-racer-adapt-4.0-cloudfoam-slip-on-shoes/HP2677.html',
 'https://www.adidas.co.in/flodean-shoes/GC0569.html',
 'https://www.adidas.co.in/adilette-comfort-slides/GY1945.html',
 'https://www.adidas.co.in/adilette-comfort-slides/GZ5892.html',
 'https://www.adidas.co.in/sheenwalk-shoes/GC0557.html',
 'https://www.adidas.co.in/solarglide-6-shoes/HP7634.html',
 'https://www.adidas.co.in/nmd_r1-shoes/GX9886.html',
 'https://www.adidas.co.in/ultimashow-shoes/FX3639.html',
 'https://www.adidas.co.in/sheenwalk-shoes/GC0555.html',
 'https://www.adidas.co.in/ultimashow-shoes/FX3624.html',
 'https://www.adidas.co.in/asweetrain-shoes/FW1662.html',
 'https://www.adidas.co.in/galaxy-6-shoes/HP2407.html',
 'https://www.adidas.co.in/galaxy-6-shoes/HP2403.html',
 'https://www.adidas.co.in/ultra-4dfwd-shoes/HP7598.html',
 'https://www.adidas.co.in/nmd_r1-shoes/GX9887.html',
 'https://www.adidas.co.in/ultimashow-shoes/FX3631.html',
 'https://www.adidas.co.in/sport-inspired-throb-shoes/CM4882.html',
 'https://www.adidas.co.in/forum-low-shoes/FY7757.html',
 'https://www.adidas.co.in/crazy-iiinfinity-003-shoes/IE3079.html',
 'https://www.adidas.co.in/glarrus-shoes/CM4979.html',
 'https://www.adidas.co.in/vs-pace-2.0-shoes/HP6012.html',
 'https://www.adidas.co.in/advantage-base-court-lifestyle-shoes/GW9283.html',
 'https://www.adidas.co.in/gazelle-shoes/IG1062.html',
 'https://www.adidas.co.in/web-boost-shoes/HR0085.html',
 'https://www.adidas.co.in/nmd_r1-shoes/GX9885.html',
 'https://www.adidas.co.in/nmd_r1-shoes/GZ9260.html',
 'https://www.adidas.co.in/stan-smith-shoes/FX5502.html',
 'https://www.adidas.co.in/ubounce-dna-shoes/IG6001.html',
 'https://www.adidas.co.in/y-3-gendo-pro-model/IG2934.html',
 'https://www.adidas.co.in/y-3-gendo-pro-model/IG2935.html',
 'https://www.adidas.co.in/superstar-xlg-shoes/IG9777.html',
 'https://www.adidas.co.in/ultraboost-1.0-shoes/ID5879.html',
 'https://www.adidas.co.in/kaptir-3.0-shoes/IF7315.html']

In [54]:
name=[]
title_tags=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__title"]')
for i in title_tags:
    name.append(i.text)

In [55]:
name

['Superstar Shoes',
 'Samba OG Shoes',
 'Samba OG Shoes',
 'Superstar Shoes',
 'Gazelle Shoes',
 'Galaxy 6 Shoes',
 'Ultraboost Light',
 'Ultimashow Shoes',
 'Alphaboost V1 Shoes',
 'FLUIDFLOW 2.0 RUNNING SHOE',
 'Ultraboost 1.0 Shoes',
 'Grand Court Cloudfoam Comfort Shoes',
 'Pureboost 22 Shoes',
 'Daily 3.0 Shoes',
 'Ultraboost 1.0 Shoes',
 'Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes',
 'FLODEAN SHOES',
 'Adilette Comfort Slides',
 'Adilette Comfort Slides',
 'SHEENWALK SHOES',
 'SOLARGLIDE 6 Shoes',
 'NMD_R1 Shoes',
 'Ultimashow Shoes',
 'SHEENWALK SHOES',
 'Ultimashow Shoes',
 'Asweetrain Shoes',
 'Galaxy 6 Shoes',
 'Ultra 4DFWD Shoes',
 'Ultimashow Shoes',
 'SPORT INSPIRED THROB SHOES',
 'Forum Low Shoes',
 'Crazy IIInfinity 003 Shoes',
 'GLARRUS SHOES',
 'VULC RAID3R Lifestyle Skateboarding Slip-On Canvas Shoes',
 'Supernova 2.0 Shoes',
 'VS Pace 2.0 Shoes',
 'Advantage Base Court Lifestyle Shoes',
 'Gazelle Shoes',
 'Web BOOST Shoes',
 'NMD_R1 Shoes',
 'NMD_R1 Shoes',
 'Stan Smith Shoes',
 'UBounce DNA Shoes',
 'Y-3 Gendo Pro Model',
 'Y-3 Gendo Pro Model',
 'Superstar XLG Shoes',
 'Ultraboost 1.0 Shoes',
 'Kaptir 3.0 Shoes']

In [58]:
category=[]
title_tags=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__category"]')
for i in title_tags:
    category.append(i.text)

In [59]:
category

['originals',
 'originals',
 'originals',
 'Men originals',
 'originals',
 'Men Running',
 'Men Running',
 'Men sportswear',
 'Men sportswear',
 'Men Running',
 'Men sportswear',
 'Men sportswear',
 'Running',
 'Men sportswear',
 'Men sportswear',
 'Men Running',
 'Men Walking',
 'sportswear',
 'sportswear',
 'Women Walking',
 'Men Running',
 'Men originals',
 'Women Running',
 'Women Running',
 'Men sportswear',
 'Men Training',
 'Women Running',
 'Running',
 'Men sportswear',
 'Men Running',
 'originals',
 'originals',
 'Men Running',
 'Skateboarding',
 'Men Running',
 'Men Skateboarding',
 'Men sportswear',
 'originals',
 'Running',
 'Men originals',
 'originals',
 'originals',
 'Men Running',
 'Lifestyle',
 'Lifestyle',
 'originals',
 'Men sportswear',
 'Men Running']

In [67]:
price=[]
for i in urls:
    driver.get(i)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="main-content"]/div[2]/div[2]/div[1]/div[2]/div/div/div/div')
        price.append(title_tags.text)
    except NoSuchElementException:
        price.append('-')

In [68]:
price

['₹8 999.00',
 '₹10 999.00',
 '₹11 999.00',
 '₹8 999.00',
 '₹10 999.00',
 '₹5 999.00',
 '₹19 999.00',
 '₹5 599.00',
 '₹11 999.00',
 '₹4 299.00',
 '₹17 999.00',
 '₹7 999.00',
 '₹11 999.00',
 '₹6 599.00',
 '₹17 999.00',
 '₹6 999.00',
 '₹3 299.00',
 '₹3 999.00',
 '₹3 999.00',
 '₹3 599.00',
 '₹13 999.00',
 '₹12 999.00',
 '₹5 599.00',
 '₹3 599.00',
 '₹5 599.00',
 '₹7 999.00',
 '₹5 999.00',
 '₹21 999.00',
 '₹5 599.00',
 '₹3 299.00',
 '₹9 999.00',
 '₹15 999.00',
 '₹3 599.00',
 '₹5 599.00',
 '₹9 999.00',
 '₹4 999.00',
 '₹6 599.00',
 '₹10 999.00',
 '₹14 999.00',
 '₹12 999.00',
 '₹14 999.00',
 '₹8 999.00',
 '₹9 999.00',
 '-',
 '-',
 '₹11 999.00',
 '₹17 999.00',
 '₹7 999.00']

In [69]:
color=[]
for i in urls:
    driver.get(i)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="main-content"]/div[2]/div[2]/div[2]')
        color.append(title_tags.text)
    except NoSuchElementException:
        color.append('-')

In [70]:
color

['Colours\nCore Black / Cloud White / Core Black',
 'Colours\nCore Black / Cloud White / Gum',
 'Colours\nCloud White / Core Black / Clear Granite',
 'Colours\nCloud White / Core Black / Cloud White',
 'Colours\nCollegiate Navy / White / Gold Metallic',
 'Colours\nCore Black / Cloud White / Core Black',
 'Wonder Red F22 / Cloud White / Wonder Taupe S23',
 'Colours\nCore Black / Core Black / Cloud White',
 'Colours\nCore Black / Grey Five / Carbon',
 'Crew Navy S21 / Stone / Hazy Blue S21 / Core Black',
 'Chalk White / Silver Green S23 / Olive Strata S23',
 'Cloud White / Core Black / Cloud White',
 'Colours\nCore Black / Better Scarlet S23 / Cloud White',
 'Colours\nCloud White / Core Black / Cloud White',
 'Colours\nLight Solid Grey / Light Solid Grey / Bold Gold',
 'Colours\nLegend Ink / Legend Ink / Shadow Navy S22',
 'Colours\nCore Black / Dove Grey S20',
 'Colours\nCore Black / Cloud White / Core Black',
 'Legend Ink / Cloud White / Legend Ink',
 'Colours\nBlue Night / Pulse Blue / Beam Pink F22',
 'Colours\nSolar Red / Core Black / Lucid Blue S23',
 'Colours\nRed / Royal Blue / Off White',
 'Colours\nPower Pink / Power Pink / Cloud White',
 'Colours\nBlue Dawn / Collegiate Navy',
 'Colours\nCore Black / Core Black / Cloud White',
 'Core Black / Grey Six / Dove Grey S20',
 'Colours\nCloud White / Silver Metallic / Coral Fusion S23',
 'Cloud White / Cloud White / Core White',
 'Colours\nCloud White / Cloud White / Grey Two',
 'Dove Grey S20 / Core Black / Silver Metallic',
 'Colours\nCloud White / Cloud White / Core Black',
 'Talc / Core Black / Pulse Olive F22',
 'Colours\nDeepest Blue F10 / Silver Metallic',
 'Colours\nCore Black / Core Black / Cloud White',
 'Colours\nGrey Five / Impact Orange / Core Black',
 'Colours\nCloud White / Cloud White / Cloud White',
 'Colours\nCloud White / Cloud White / Core Black',
 'Glory Red / Off White / Cream White',
 'Cloud White / Core Black / Blue Dawn S23',
 'Colours\nCloud White / Off White / Green',
 'Colours\nCloud White / Cloud White / Gum',
 'Colours\nCloud White / Cloud White / Green',
 'Colours\nCore Black / Core Black / Cloud White',
 'Colours',
 'Colours',
 'Colours\nCore Black / Cloud White / Gold Metallic',
 'Colours\nCloud White / Core Black / Better Scarlet S23',
 'Colours\nGrey / Grey / Bright Royal']

In [71]:
import pandas as pd
ad1=pd.DataFrame({'name':name,'price':price,'color':color,'category':category})

In [72]:
ad1

,name,price,color,category
0,Superstar Shoes,₹8 999.00,Colours\nCore Black / Cloud White / Core Black,originals
1,Samba OG Shoes,₹10 999.00,Colours\nCore Black / Cloud White / Gum,originals
2,Samba OG Shoes,₹11 999.00,Colours\nCloud White / Core Black / Clear Granite,originals
3,Superstar Shoes,₹8 999.00,Colours\nCloud White / Core Black / Cloud White,Men originals
4,Gazelle Shoes,₹10 999.00,Colours\nCollegiate Navy / White / Gold Metallic,originals
5,Galaxy 6 Shoes,₹5 999.00,Colours\nCore Black / Cloud White / Core Black,Men Running
6,Ultraboost Light,₹19 999.00,Wonder Red F22 / Cloud White / Wonder Taupe S23,Men Running
7,Ultimashow Shoes,₹5 599.00,Colours\nCore Black / Core Black / Cloud White,Men sportswear
8,Alphaboost V1 Shoes,₹11 999.00,Colours\nCore Black / Grey Five / Carbon,Men sportswear
9,FLUIDFLOW 2.0 RUNNING SHOE,₹4 299.00,Crew Navy S21 / Stone / Hazy Blue S21 / Core B...,Men Running
10,Ultraboost 1.0 Shoes,₹17 999.00,Chalk White / Silver Green S23 / Olive Strata S23,Men sportswear
11,Grand Court Cloudfoam Comfort Shoes,₹7 999.00,Cloud White / Core Black / Cloud White,Men sportswear
12,Pureboost 22 Shoes,₹11 999.00,Colours\nCore Black / Better Scarlet S23 / Clo...,Running
13,Daily 3.0 Shoes,₹6 599.00,Colours\nCloud White / Core Black / Cloud White,Men sportswear
14,Ultraboost 1.0 Shoes,₹17 999.00,Colours\nLight Solid Grey / Light Solid Grey /...,Men sportswear
15,Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes,₹6 999.00,Colours\nLegend Ink / Legend Ink / Shadow Navy...,Men Running
16,FLODEAN SHOES,₹3 299.00,Colours\nCore Black / Dove Grey S20,Men Walking
17,Adilette Comfort Slides,₹3 999.00,Colours\nCore Black / Cloud White / Core Black,sportswear
18,Adilette Comfort Slides,₹3 999.00,Legend Ink / Cloud White / Legend Ink,sportswear
19,SHEENWALK SHOES,₹3 599.00,Colours\nBlue Night / Pulse Blue / Beam Pink F22,Women Walking
20,SOLARGLIDE 6 Shoes,₹13 999.00,Colours\nSolar Red / Core Black / Lucid Blue S23,Men Running
21,NMD_R1 Shoes,₹12 999.00,Colours\nRed / Royal Blue / Off White,Men originals
22,Ultimashow Shoes,₹5 599.00,Colours\nPower Pink / Power Pink / Cloud White,Women Running
23,SHEENWALK SHOES,₹3 599.00,Colours\nBlue Dawn / Collegiate Navy,Women Running
24,Ultimashow Shoes,₹5 599.00,Colours\nCore Black / Core Black / Cloud White,Men sportswear
25,Asweetrain Shoes,₹7 999.00,Core Black / Grey Six / Dove Grey S20,Men Training
26,Galaxy 6 Shoes,₹5 999.00,Colours\nCloud White / Silver Metallic / Coral...,Women Running
27,Ultra 4DFWD Shoes,₹21 999.00,Cloud White / Cloud White / Core White,Running
28,Ultimashow Shoes,₹5 599.00,Colours\nCloud White / Cloud White / Grey Two,Men sportswear
29,SPORT INSPIRED THROB SHOES,₹3 299.00,Dove Grey S20 / Core Black / Silver Metallic,Men Running
30,Forum Low Shoes,₹9 999.00,Colours\nCloud White / Cloud White / Core Black,originals
31,Crazy IIInfinity 003 Shoes,₹15 999.00,Talc / Core Black / Pulse Olive F22,originals
32,GLARRUS SHOES,₹3 599.00,Colours\nDeepest Blue F10 / Silver Metallic,Men Running
33,VULC RAID3R Lifestyle Skateboarding Slip-On Ca...,₹5 599.00,Colours\nCore Black / Core Black / Cloud White,Skateboarding
34,Supernova 2.0 Shoes,₹9 999.00,Colours\nGrey Five / Impact Orange / Core Black,Men Running
35,VS Pace 2.0 Shoes,₹4 999.00,Colours\nCloud White / Cloud White / Cloud White,Men Skateboarding
36,Advantage Base Court Lifestyle Shoes,₹6 599.00,Colours\nCloud White / Cloud White / Core Black,Men sportswear
37,Gazelle Shoes,₹10 999.00,Glory Red / Off White / Cream White,originals
38,Web BOOST Shoes,₹14 999.00,Cloud White / Core Black / Blue Dawn S23,Running
39,NMD_R1 Shoes,₹12 999.00,Colours\nCloud White / Off White / Green,Men originals
40,NMD_R1 Shoes,₹14 999.00,Colours\nCloud White / Cloud White / Gum,originals
41,Stan Smith Shoes,₹8 999.00,Colours\nCloud White / Cloud White / Green,originals
42,UBounce DNA Shoes,₹9 999.00,Colours\nCore Black / Core Black / Cloud White,Men Running
43,Y-3 Gendo Pro Model,-,Colours,Lifestyle
44,Y-3 Gendo Pro Model,-,Colours,Lifestyle
45,Superstar XLG Shoes,₹11 999.00,Colours\nCore Black / Cloud White / Gold Metallic,originals
46,Ultraboost 1.0 Shoes,₹17 999.00,Colours\nCloud White / Core Black / Better Sca...,Men sportswear
47,Kaptir 3.0 Shoes,₹7 999.00,Colours\nGrey / Grey / Bright Royal,Men Running

In [184]:
sc=[]
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
        sc.append(title_tags.text)
    except NoSuchElementException:
        sc.append('-')

In [185]:
sc

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '',
 '-',
 '-',
 '-',
 '-',
 '-']

In [107]:
import pandas as pd
ad2=pd.DataFrame({'sc':sc})

In [108]:
ad2

   sc
0   -
1   -
2   -
3   -
4   -
5   -
6   -
7   -
8   -
9   -
10  -
11  -
12  -
13  -
14  -
15  -
16  -
17  -
18  -
19  -
20  -
21  -
22  -
23  -
24  -
25  -
26  -
27  -
28  -
29  -
30
31  -
32  -
33  -
34  -
35  -
36  -
37  -
38  -
39  -
40  -
41  -
42  -
43  -
44  -
45  -
46  -
47  -

In [98]:
rating=[]
review=[]
durability=[]
for i in urls:
    driver.get(i)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//div[@class="ratings-label-container___13pr-"]')
        rating.append(title_tags.text)
    except NoSuchElementException:
        rating.append('-')
        
    
    
    try:
        title_tags=driver.find_element(By.XPATH,'//h2[@class="accordion-title___2sTgR"]')
        review.append(title_tags.text)
    except NoSuchElementException:
        review.append('-')

In [102]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        title_tags=driver.find_element(By.XPATH,'//div[@class="text-content___13aRm"]')
        durability.append(title_tags.text)
    except NoSuchElementException:
        durability.append('-')

In [99]:
import pandas as pd
ad3=pd.DataFrame({'review':review,'rating':rating,'durability':durability})

In [104]:
ad3

             review rating durability
0    Reviews (4901)    4.8          -
1    Reviews (7159)    4.7          -
2    Reviews (7159)    4.7          -
3    Reviews (4901)    4.8          -
4   Reviews (19810)    4.8          -
5     Reviews (844)    4.6          -
6     Reviews (115)    4.6          -
7     Reviews (385)    4.4          -
8     Reviews (392)    4.4          -
9     Reviews (127)    4.2          -
10    Reviews (241)    4.2          -
11    Reviews (181)    4.7          -
12    Reviews (230)    4.4          -
13   Reviews (3043)    4.7          -
14    Reviews (260)    4.7          -
15   Reviews (1232)    4.6          -
16     Reviews (39)    4.2          -
17    Reviews (134)    4.7          -
18    Reviews (270)    4.6          -
19     Reviews (17)    4.6          -
20    Reviews (130)    4.5          -
21     Reviews (95)    4.3          -
22    Reviews (165)    4.6          -
23     Reviews (17)    4.6          -
24    Reviews (385)    4.4          -
25    Reviews (182)    4.5          -
26    Reviews (214)    4.4          -
27     Reviews (42)    4.6          -
28    Reviews (265)    4.7          -
29    Reviews (385)    4.4          -
30    Reviews (135)    4.4
31   Reviews (2161)    4.8          -
32     Reviews (32)    4.8          -
33     Reviews (57)    4.0          -
34     Reviews (41)    3.7          -
35    Reviews (605)    4.6          -
36    Reviews (175)    4.6          -
37      Reviews (6)    4.8          -
38     Reviews (18)    4.8          -
39     Reviews (95)    4.3          -
40   Reviews (1502)    4.7          -
41   Reviews (2139)    4.7          -
42      Description      -
43      Reviews (5)    3.8          -
44      Reviews (5)    3.8          -
45     Reviews (57)    4.8          -
46    Reviews (260)    4.7          -
47    Reviews (284)    4.7          -

In [204]:
driver.get("https://us.puma.com/us/en")

In [7]:
time.sleep(2)
height="return document.body.scrollHeight"

In [8]:
while True:
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(5)
    newheight= driver.execute_script("return document.body.scrollHeight")
    if (height == newheight):
        break
    height = newheight

In [205]:

urls = []



    
url = driver.find_elements(By.XPATH,'//a[@class="tw-hqslau tw-xbcb1y"]')

    
for i in url:
    
        
    urls.append(i.get_attribute('href'))

In [206]:
len(urls)

25

In [207]:
urls

['https://in.puma.com/in/en',
 'https://in.puma.com/in/en/pd/flair-2-unisex-running-shoes/377280?search=true&swatch=03',
 'https://in.puma.com/in/en/pd/redon-move-unisex-sneakers/185999?search=true&swatch=02',
 'https://in.puma.com/in/en/pd/trigger-unisex-shoes/194866?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/trigger-unisex-shoes/194866?search=true&swatch=03',
 'https://in.puma.com/in/en/pd/flair-unisex-running-shoes/195112?search=true&swatch=03',
 'https://in.puma.com/in/en/pd/lqdcell-method-mens-training-shoes/193685?search=true&swatch=04',
 'https://in.puma.com/in/en/pd/fire-runner-profoam-unisex-running-shoes/377182?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/softride-enzo-evo-unisex-running-shoes/377048?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/softride-enzo-evo-unisex-running-shoes/377048?search=true&swatch=02',
 'https://in.puma.com/in/en/pd/retaliate-2-unisex-running-shoes/377282?search=true&swatch=03',
 'https://in.puma.com/in/en/pd/ferrari-kart-cat-mid-mens-sneakers/306220?search=true&swatch=02',
 'https://in.puma.com/in/en/pd/robust-unisex-running-shoes/194883?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/flair-2-unisex-running-shoes/377280?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/incinerate-unisex-running-shoes/376288?search=true&swatch=08',
 'https://in.puma.com/in/en/pd/flair-2-unisex-running-shoes/377280?search=true&swatch=04',
 'https://in.puma.com/in/en/pd/softride-fly-mens-walking-shoes/376164?search=true&swatch=06',
 'https://in.puma.com/in/en/pd/softride-vital-mens-running-shoes/193703?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/ferrari-drift-cat-delta-unisex-sneakers/306864?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/ultraride-womens-running-shoes/193756?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/incinerate-unisex-running-shoes/376288?search=true&swatch=04',
 'https://in.puma.com/in/en/pd/wired-run-unisex-sneakers/373015?search=true&swatch=03',
 'https://in.puma.com/in/en/pd/serve-pro-lite-mens-sneakers/374902?search=true&swatch=01',
 'https://in.puma.com/in/en/pd/puma-dare-unisex-sneakers/363699?search=true&swatch=15',
 'https://in.puma.com/in/en/pd/serve-pro-lite-mens-sneakers/374902?search=true&swatch=20']

In [208]:
name=[]
color=[]
price=[]
category=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="pdp-product-title"]')
        name.append(title_tags.text)
    except NoSuchElementException:
        name.append('-')

    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="breadcrumb"]/ul/li[5]/a')
        category.append(title_tags.text)
    except NoSuchElementException:
        category.append('-')

    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="puma-skip-here"]/div/section/div[1]/section[1]/div/div[2]/h4')
        color.append(title_tags.text)
    except NoSuchElementException:
        color.append('-')
        

    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="puma-skip-here"]/div/section/div[1]/section[1]/div/div[1]/div/div/span[1]')
        price.append(title_tags.text)
    except NoSuchElementException:
        price.append('-')

In [265]:
import pandas as pd
puma1=pd.DataFrame({'name':name,'price':price,'color':color,'category':category})

In [266]:
puma1

,name,price,color,category
0,-,-,-,-
1,Flair 2 Unisex Running Shoes,"₹2,349",Asphalt-Puma White,Men'S Sports Footwear
2,Redon Move Unisex Sneakers,"₹2,359",black-white-high risk red,Men'S Casual Footwear
3,Trigger Unisex Shoes,"₹2,109",Puma Black-Ultra Gray,-
4,Trigger Unisex Shoes,"₹2,249",Ultra Gray-Puma White-Puma Black,-
5,Flair Unisex Running Shoes,"₹2,019",Peacoat-High Risk Red-Puma White,-
6,LQDCELL Method Men's Training Shoes,"₹3,849",Puma Black-Nrgy Blue-Fizzy Yellow,Aerobics & Circuit
7,Fire Runner Profoam Unisex Running Shoes,"₹2,819",Puma Black-Puma Black-Puma White,Men'S Sports Footwear
8,SOFTRIDE Enzo Evo Unisex Running Shoes,"₹5,599",Puma Black-CASTLEROCK,Men'S Sports Footwear
9,SOFTRIDE Enzo Evo Unisex Running Shoes,"₹5,599",High Risk Red-Puma Black,Men'S Sports Footwear
10,Retaliate 2 Unisex Running Shoes,"₹2,249",Dark Denim-Puma White,Men'S Sports Footwear
11,Ferrari Kart Cat Mid Men's Sneakers,"₹3,899",Puma Black-Puma White,-
12,Robust Unisex Running Shoes,"₹1,999",Peacoat-Red Dahlia,-
13,Flair 2 Unisex Running Shoes,"₹2,149",Puma Black-High Risk Red,Men'S Sports Footwear
14,Incinerate Unisex Running Shoes,"₹2,349",Peacoat-Puma White,Men'S Sports Footwear
15,Flair 2 Unisex Running Shoes,"₹2,349",Peacoat-Puma White,Men'S Sports Footwear
16,SOFTRIDE Fly Men's Walking Shoes,"₹3,149",Puma Black-Puma Team Gold,Men'S Sports Footwear
17,SOFTRIDE Vital Men's Running Shoes,"₹2,249",Puma Black-Puma White,Men'S Sports Footwear
18,Ferrari Drift Cat Delta Unisex Sneakers,"₹3,599",Puma Black-Rosso Corsa,Men'S Casual Footwear
19,Ultraride Women's Running Shoes,"₹4,049",Puma Black-Metallic Silver,Women'S Sports Footwear
20,Incinerate Unisex Running Shoes,"₹2,599",High Risk Red-Puma Black,Men'S Sports Footwear
21,Wired Run Unisex Sneakers,"₹2,019",Peacoat-Puma White,Men'S Sports Footwear
22,Serve Pro Lite Men's Sneakers,"₹2,699",Puma White-Puma White-Puma Silver-Gray Violet,Men'S Casual Footwear
23,PUMA Dare Unisex Sneakers,"₹2,199",Dark Shadow-Puma Black,Men'S Casual Footwear
24,Serve Pro Lite Men's Sneakers,"₹2,699",Puma White-Deep Forest-Puma Team Gold,Men'S Casual Footwear

In [215]:
size=[]
sc=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="size-picker"]/label[1]/span/span[2]')
        size.append(title_tags.text)
    except NoSuchElementException:
        size.append('-')
        

    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="puma-skip-here"]/div/section/div[1]/section[1]/div/div[11]/ul')
        sc.append(title_tags.text.split('\n')[0])
    except NoSuchElementException:
        sc.append('-')

In [55]:
size

['-',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 11',
 'UK 6',
 'UK 7',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 6',
 'UK 10',
 'UK 6',
 'UK 3',
 'UK 11',
 'UK 6',
 'UK 3',
 'UK 7',
 'UK 6',
 'UK 3',
 'UK 6']

In [27]:
sc=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="puma-skip-here"]/div/section/div[1]/section[1]/div/div[11]/ul')
        sc.append(title_tags.text.split('\n')[0])
    except NoSuchElementException:
        sc.append('-')

In [28]:
sc

['-',
 'Style: 377280_03',
 'Style: 185999_02',
 'Style: 194866_01',
 'Style: 194866_03',
 'Style: 195112_03',
 'Style: 193685_04',
 'Style: 377182_01',
 'Style: 377048_01',
 'Style: 377048_02',
 'Style: 377282_03',
 'Style: 306220_02',
 'Style: 194883_01',
 'Style: 377280_01',
 'Style: 376288_08',
 'Style: 377280_04',
 'Style: 376164_06',
 'Style: 193703_01',
 'Style: 306864_01',
 'Style: 193756_01',
 'Style: 376288_04',
 'Style: 373015_03',
 'Style: 363699_15',
 'Style: 380435_01']

In [59]:
len(size),len(sc)

(24, 24)

In [268]:
import pandas as pd
puma2=pd.DataFrame({'size':size,'sc':sc})

In [269]:
puma2

    size                sc
0      -                 -
1   UK 6  Style: 377280_03
2   UK 6  Style: 185999_02
3   UK 9  Style: 194866_01
4   UK 6  Style: 194866_03
5   UK 6  Style: 195112_03
6   UK 6  Style: 193685_04
7   UK 6  Style: 377182_01
8   UK 6  Style: 377048_01
9   UK 7  Style: 377048_02
10  UK 6  Style: 377282_03
11  UK 6  Style: 306220_02
12  UK 6  Style: 194883_01
13  UK 6  Style: 377280_01
14  UK 7  Style: 376288_08
15  UK 6  Style: 377280_04
16  UK 3  Style: 376164_06
17  UK 7  Style: 193703_01
18  UK 6  Style: 306864_01
19  UK 3  Style: 193756_01
20  UK 7  Style: 376288_04
21  UK 6  Style: 373015_03
22  UK 6  Style: 374902_01
23  UK 3  Style: 363699_15
24  UK 6  Style: 374902_20

In [221]:
durability=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="product-story"]/section/div[1]')
        durability.append(title_tags.text)
    except NoSuchElementException:
        durability.append('-')

In [270]:
puma3=pd.DataFrame({'durability':durability})

In [271]:
puma3

                                           durability
0                                                   -
1   PRODUCT STORY\nGet ready to conquer your runs ...
2   PRODUCT STORY:\nThe low-profile PUMA Redon Mov...
3   PRODUCT STORY\nThe Trigger unisex running shoe...
4   PRODUCT STORY\nThe Trigger unisex running shoe...
5   PRODUCT STORY\nGet ready to conquer the track ...
6   PRODUCT STORY\nFeel your need for speed in our...
7   PRODUCT STORY\nThe Fire Runner Profoam Unisex ...
8   About SOFTRIDE\nPUMA's SOFTRIDE technology rep...
9   About SOFTRIDE\nPUMA's SOFTRIDE technology rep...
10  PRODUCT STORY\nThe Retaliate 2 Unisex Running ...
11  PRODUCT STORY\nMade for the Motorsport champio...
12  PRODUCT STORY\nElevate your stride and make a ...
13  PRODUCT STORY\nGet ready to conquer your runs ...
14  PRODUCT STORY\nStep into the world of running ...
15  PRODUCT STORY\nGet ready to conquer your runs ...
16  About SOFTRIDE\nPUMA's SOFTRIDE technology rep...
17  About SOFTRIDE\nPUMA's SOFTRIDE technology rep...
18  About PUMA x Scuderia Ferrari\nIn 2005, Scuder...
19  PRODUCT STORY\nLight, airy and full of style, ...
20  PRODUCT STORY\nStep into the world of running ...
21  PRODUCT STORY\nFor runners craving a relaxed s...
22  PRODUCT STORY\nCatering to the growing consume...
23  Product Story\nThe PUMA Dare is a fresh new tr...
24  PRODUCT STORY\nCatering to the growing consume...

In [143]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [144]:
driver.get("https://www.woodlandworldwide.com/")

In [ ]:
while True:
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(5)
    newheight= driver.execute_script("return document.body.scrollHeight")
    if (height == newheight):
        break
    height = newheight

In [145]:

urls = []



    
url = driver.find_elements(By.XPATH,'//a[@class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-15kjgm"]')

    
for i in url:
    
        
    urls.append(i.get_attribute('href'))

In [146]:
urls

['https://www.woodlandworldwide.com/productinfo/FGC0Z7045232A-GREY',
 'https://www.woodlandworldwide.com/productinfo/FLC0260T0642A-BLACK',
 'https://www.woodlandworldwide.com/productinfo/FGC0Y9032092A-OLIVE_BLACK',
 'https://www.woodlandworldwide.com/productinfo/FGC0510S0052A-SAND',
 'https://www.woodlandworldwide.com/productinfo/FGC0H40U8422A-BLUE',
 'https://www.woodlandworldwide.com/productinfo/FLC0DY0T7832A-LPURPLE',
 'https://www.woodlandworldwide.com/productinfo/FGC0EM0S0162A-GREY_GREEN',
 'https://www.woodlandworldwide.com/productinfo/FGC0Z7041632A-NAVY',
 'https://www.woodlandworldwide.com/productinfo/FGC0Y9037602A-NAVY',
 'https://www.woodlandworldwide.com/productinfo/FGC0DY0T7772A-NAVY',
 'https://www.woodlandworldwide.com/productinfo/FGC0Y9039142A-DGREY',
 'https://www.woodlandworldwide.com/productinfo/FGC0Y9032782A-BLUE_GREY']

In [164]:
name=[]
price=[]
color=[]

for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div/div[1]/div[2]/div[1]/h2')
        name.append(title_tags.text)
    except NoSuchElementException:
        name.append('-')
        
        
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div/div[1]/div[2]/div[1]/div/div/span[1]')
        price.append(title_tags.text)
    except NoSuchElementException:
        price.append('-')
        
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div/div[1]/div[2]/div[2]/div/div[1]/h5')
        color.append(title_tags.text)
    except NoSuchElementException:
        color.append('-')

In [163]:
name

['Grey Sneakers For Men',
 'Black High-Top Boots For Women',
 'Olive/Black Sneakers For Men',
 'Sand Sports Shoe For Men',
 'Blue Sneakers For Men',
 'Light Purple Casual Sneaker For Women',
 'Grey/Green Sports Shoe For Men',
 'Navy Slip-On Shoe For Men',
 'Navy Slip-On Shoes',
 'Navy Casual Sneaker For Men',
 'Dgrey Slip-On Shoe For Men',
 'Blue/Grey Sneaker For Men']

In [165]:
import pandas as pd
wd1=pd.DataFrame({'name':name,'price':price,'color':color})

In [166]:
wd1

                                     name   price        color
0                   Grey Sneakers For Men  ₹2 246         GREY
1          Black High-Top Boots For Women  ₹3 497        BLACK
2            Olive/Black Sneakers For Men  ₹2 277  OLIVE/BLACK
3                Sand Sports Shoe For Men  ₹4 797         SAND
4                   Blue Sneakers For Men  ₹2 500         BLUE
5   Light Purple Casual Sneaker For Women  ₹3 497      LPURPLE
6          Grey/Green Sports Shoe For Men  ₹4 797   GREY/GREEN
7               Navy Slip-On Shoe For Men  ₹1 606         NAVY
8                      Navy Slip-On Shoes  ₹1 797         NAVY
9             Navy Casual Sneaker For Men  ₹3 497         NAVY
10             Dgrey Slip-On Shoe For Men  ₹2 096        DGREY
11              Blue/Grey Sneaker For Men  ₹1 677    BLUE/GREY

In [167]:
size=[]
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        title_tags=driver.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div/div[1]/div[2]/div[3]/div/div[2]')
        size.append(title_tags.text)
    except NoSuchElementException:
        size.append('-')

In [168]:
size

['39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\n3 Left\n45\nSold out',
 '35\nSold out\n36\nSold out\n37\nSold out\n38\nSold out\n39\nSold out\n40\nSold out\n41\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\nSold out\n45\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\nSold out\n45\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\n1 Left\n45\n1 Left',
 '35\nSold out\n36\nSold out\n37\nSold out\n38\nSold out\n39\nSold out\n40\nSold out\n41\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\n1 Left\n45\n2 Left',
 '39\nSold out\n40\n41\n4 Left\n42\n43\nSold out\n44\nSold out\n45\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\nSold out\n45\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\nSold out\n45\nSold out',
 '39\nSold out\n40\n3 Left\n41\n42\n43\nSold out\n44\n4 Left\n45\nSold out',
 '39\nSold out\n40\nSold out\n41\nSold out\n42\nSold out\n43\nSold out\n44\nSold out\n45\nSold out']

In [169]:
wd2=pd.DataFrame({'size':size})

In [170]:
wd2

                                                 size
0   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
1   35\nSold out\n36\nSold out\n37\nSold out\n38\n...
2   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
3   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
4   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
5   35\nSold out\n36\nSold out\n37\nSold out\n38\n...
6   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
7   39\nSold out\n40\n41\n4 Left\n42\n43\nSold out...
8   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
9   39\nSold out\n40\nSold out\n41\nSold out\n42\n...
10  39\nSold out\n40\n3 Left\n41\n42\n43\nSold out...
11  39\nSold out\n40\nSold out\n41\nSold out\n42\n...

In [448]:
df_1 = pd.concat([puma1,ad1,nike1,wd1],axis=0,join='outer')
df_1

,name,price,color,category
0,-,-,-,-
1,Flair 2 Unisex Running Shoes,"₹2,349",Asphalt-Puma White,Men'S Sports Footwear
2,Redon Move Unisex Sneakers,"₹2,359",black-white-high risk red,Men'S Casual Footwear
3,Trigger Unisex Shoes,"₹2,109",Puma Black-Ultra Gray,-
4,Trigger Unisex Shoes,"₹2,249",Ultra Gray-Puma White-Puma Black,-
...,...,...,...,...
7,Navy Slip-On Shoe For Men,₹1 606,NAVY,NaN
8,Navy Slip-On Shoes,₹1 797,NAVY,NaN
9,Navy Casual Sneaker For Men,₹3 497,NAVY,NaN
10,Dgrey Slip-On Shoe For Men,₹2 096,DGREY,NaN
11,Blue/Grey Sneaker For Men,₹1 677,BLUE/GREY,NaN

In [449]:
#saving dataframe to csv file
df_1.to_csv('folder_1.csv',index=False)

In [450]:
df_1

,name,price,color,category
0,-,-,-,-
1,Flair 2 Unisex Running Shoes,"₹2,349",Asphalt-Puma White,Men'S Sports Footwear
2,Redon Move Unisex Sneakers,"₹2,359",black-white-high risk red,Men'S Casual Footwear
3,Trigger Unisex Shoes,"₹2,109",Puma Black-Ultra Gray,-
4,Trigger Unisex Shoes,"₹2,249",Ultra Gray-Puma White-Puma Black,-
...,...,...,...,...
7,Navy Slip-On Shoe For Men,₹1 606,NAVY,NaN
8,Navy Slip-On Shoes,₹1 797,NAVY,NaN
9,Navy Casual Sneaker For Men,₹3 497,NAVY,NaN
10,Dgrey Slip-On Shoe For Men,₹2 096,DGREY,NaN
11,Blue/Grey Sneaker For Men,₹1 677,BLUE/GREY,NaN

In [433]:
df_2=pd.concat([puma2, ad2,nike2,wd2],axis=0,join='outer')
df_2.to_csv('folder_2.csv',index=False)

In [434]:
df_2

                                                 size                sc
0                                                   -                 -
1                                                UK 6  Style: 377280_03
2                                                UK 6  Style: 185999_02
3                                                UK 9  Style: 194866_01
4                                                UK 6  Style: 194866_03
..                                                ...               ...
7   39\nSold out\n40\n41\n4 Left\n42\n43\nSold out...               NaN
8   39\nSold out\n40\nSold out\n41\nSold out\n42\n...               NaN
9   39\nSold out\n40\nSold out\n41\nSold out\n42\n...               NaN
10  39\nSold out\n40\n3 Left\n41\n42\n43\nSold out...               NaN
11  39\nSold out\n40\nSold out\n41\nSold out\n42\n...               NaN

[109 rows x 2 columns]

In [436]:
df_3=pd.concat([puma3, ad3,nike3],axis=0,join="outer")
df_2.to_csv('folder_2.csv',index=False)

In [437]:
df_3

,durability,review,rating
0,-,NaN,NaN
1,PRODUCT STORY\nGet ready to conquer your runs ...,NaN,NaN
2,PRODUCT STORY:\nThe low-profile PUMA Redon Mov...,NaN,NaN
3,PRODUCT STORY\nThe Trigger unisex running shoe...,NaN,NaN
4,PRODUCT STORY\nThe Trigger unisex running shoe...,NaN,NaN
...,...,...,...
19,The latest and greatest innovation to hit the ...,Delivery & Returns,-
20,The legend lives on in the Nike Air Force 1 '0...,Reviews (17),
21,Your love for the game never fades. That's why...,Reviews (0),
22,"Welcome to Paris. For our latest PSG Collab, w...",-,-
23,"With maximum cushioning to support every mile,...",Reviews (3),

In [451]:
final = pd.concat(
    [df_1.reset_index(), df_2.reset_index(),df_3.reset_index()], axis = 1)

In [452]:
final

,index,name,price,color,category,index,size,sc,index,durability,review,rating
0,0,-,-,-,-,0,-,-,0.0,-,NaN,NaN
1,1,Flair 2 Unisex Running Shoes,"₹2,349",Asphalt-Puma White,Men'S Sports Footwear,1,UK 6,Style: 377280_03,1.0,PRODUCT STORY\nGet ready to conquer your runs ...,NaN,NaN
2,2,Redon Move Unisex Sneakers,"₹2,359",black-white-high risk red,Men'S Casual Footwear,2,UK 6,Style: 185999_02,2.0,PRODUCT STORY:\nThe low-profile PUMA Redon Mov...,NaN,NaN
3,3,Trigger Unisex Shoes,"₹2,109",Puma Black-Ultra Gray,-,3,UK 9,Style: 194866_01,3.0,PRODUCT STORY\nThe Trigger unisex running shoe...,NaN,NaN
4,4,Trigger Unisex Shoes,"₹2,249",Ultra Gray-Puma White-Puma Black,-,4,UK 6,Style: 194866_03,4.0,PRODUCT STORY\nThe Trigger unisex running shoe...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
104,7,Navy Slip-On Shoe For Men,₹1 606,NAVY,NaN,7,39\nSold out\n40\n41\n4 Left\n42\n43\nSold out...,NaN,NaN,NaN,NaN,NaN
105,8,Navy Slip-On Shoes,₹1 797,NAVY,NaN,8,39\nSold out\n40\nSold out\n41\nSold out\n42\n...,NaN,NaN,NaN,NaN,NaN
106,9,Navy Casual Sneaker For Men,₹3 497,NAVY,NaN,9,39\nSold out\n40\nSold out\n41\nSold out\n42\n...,NaN,NaN,NaN,NaN,NaN
107,10,Dgrey Slip-On Shoe For Men,₹2 096,DGREY,NaN,10,39\nSold out\n40\n3 Left\n41\n42\n43\nSold out...,NaN,NaN,NaN,NaN,NaN
108,11,Blue/Grey Sneaker For Men,₹1 677,BLUE/GREY,NaN,11,39\nSold out\n40\nSold out\n41\nSold out\n42\n...,NaN,NaN,NaN,NaN,NaN

In [453]:
final.to_csv('shoebrand.csv',index=False)